<header class="navbar-content">
        <div class="heading-container">
            <h1 class="big-heading">02</h1>
            <h2 class="side-heading">CLIMB</h2>
            <div class="p-content" >
                <p> Mountain climbing demands physical fitness, endurance, and mental resilience. Climbers need to tackle varying terrains, unpredictable weather conditions, and sometimes extreme altitudes. It's a test of pushing one's limits and overcoming obstacles. </p>
            </div>
        </div>
</header>
<header class="navbar">
    <div class="top-left-nav">
        <button [class.active]="activeButton === 1" (click)="activeButton = 1;setScheduleData()">MOUNTAIN 1</button>
        <button [class.active]="activeButton === 2" (click)="activeButton = 2;setScheduleData()">MOUNTAIN 2</button>
    </div>
</header>

<div class="background-image"></div>
<div class="schedule-container">

    <h2 class="side-heading">SCHEDULE</h2>

<div class="schedule-table">

    <table>
        <tr *ngFor="let item of scheduleData" class="schedule-row">
            <td class="schedule-date">{{ item.date }}</td>
            <td class="schedule-starting-point">{{ item.startingPoint }}</td>
        </tr>
    </table>
</div>
</div>
<div class="footer-container">
    <div class="footer-class">
        <div class="footer-content">
            <div class="logo">
                <a routerLink="/" class="home-link">
                    <img src="../../assets/foooter-icon.jpeg" alt="Home">
                </a>
            </div>            
            <div class="footer-text">
                <p>&copy; 2016. All rights reserved.</p>
            </div>
        </div>
    </div>
    
</div>

