<div class="home-container">
    <div class="background-image-1"></div>
    <div class="logo">
        <a routerLink="/" class="home-link-1">
            Home
        </a>
    </div>
    <div class="top-right-nav-1">
      <a routerLink="/history" routerLinkActive="active">01. HISTORY</a>
      <a routerLink="/schedule" routerLinkActive="active">02. TEAM</a>
    </div>
  </div>
  

   <!-- <div class="home-container">
    <div class="background-image-1"></div>
    <div class="logo">
        <a routerLink="/" class="home-link-1">
            Home
        </a>
    </div>
    <div class="top-right-nav-1">
        <div class="accordion-toggle" id="history-toggle">01. HISTORY</div>
        <div class="accordion-content" id="history-content">
            <a routerLink="/history" routerLinkActive="active">01. HISTORY</a>
        </div>
        <div class="accordion-toggle" id="team-toggle">02. TEAM</div>
        <div class="accordion-content" id="team-content">
            <a routerLink="/schedule" routerLinkActive="active">02. TEAM</a>
        </div>
    </div>
</div> -->
